* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  width: 50%;
  padding: 0;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #4fc3f7;
  color: #fff;
  padding: 20px 40px;
}

header h1 {
  margin: 20px 0;
}

header input, header button {
  width: 70%;
  float: left;
  border: none;
  padding: 10px;
  font-size: 16px;
}

header button {
  width: 30%;
  background-color: #0093c4;
  color: #fff;
}

header:after {
  content: '';
  display: block;
  clear: both;
}

main ul {
  text-align: left;
}

main li {
  position: relative;
  padding: 10px 40px;
  background-color: #eee;
  cursor: pointer;
}

main li:nth-child(odd) {
  background-color: #f9f9f9;
}

main li:hover {
  background-color: #ddd;
}

main li.clicked {
  background-color: #888;
  color: #fff;
  text-decoration: line-through;
}

main li.clicked:before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 8px;
  left: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 15px;
  width: 8px;
}

main li span.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  font-weight: bold;
}

main li span.close:hover {
  background-color: #03a9f4;
  color: #fff;
}
